

html{
    margin: 1% 3% 3%;
    background-color: #14150A;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header{
    margin: 0;
    padding:0;
    height:auto;
    width:100%;
    background-color:#15295B;
    min-width:750px;
}

header svg {
    margin:0;
    padding:0;
}
body{
    background-color: #F3EBB4;
    color: #343226;
    padding-bottom:3%;
}

menu{
    margin-top: 0;
    background-color: #15295B;
    font-size: 1.5em;
    display:flex;
    min-width:750px;
    justify-content:space-between;
    padding-left:0;
}

menu ul{
    margin-bottom: 0%;
    white-space: nowrap;
}

menu > ul > li{
    float: none;
    position: relative;
    list-style: none;
    display: inline-block;
}

menu ul ul{
    background-color: #154872;
    display: none;
    position: absolute;
    left: 0;
    white-space: nowrap;
    top: 100%;

}

menu a{
    cursor: pointer;
    display: block;
    color: #A77805;
    font-weight: bold;
    padding: 0 15px 5px;
    text-decoration: none;
}

menu li:hover{
    background-color: #154872;
}

menu li li:hover{
    background-color: #15295B;
}

menu li:hover ul{
    display: block;
}

ul.dropdown {
    padding-left:0;
}
ul.dropdown li{
    display: block;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
}

ul.dropdown a{
    font-weight: normal;
}

h1{
    color: #490301;
}

h2{
    color:#8C3504;
}
main{
    margin: 2%;
}

.languages {
    display:inline;
    color: #B28D28;
    margin-right:2%;
    font-weight:bold;
}

.languages span {
    font-variant:small-caps;
}

a {
    color: #BD6C03;
    text-decoration:none;
}

a:hover {
    color:#A25303;
}

