header{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background-color: #2b3966;
}


body{
    color: #32281b;
    margin: 1% 3% 3%;
    background-color: #b5b0aa;
}

main{
    background-color: #eae5c5;
    font-family: 'born';
    font-size: 115%;
    margin: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@font-face{
    font-family: 'TeX Gyre Schola';
    src: url('../fonts/texgyreschola-regular.otf');
}

@font-face{
    font-family: 'EB Garamond Initials';
    src: url('../fonts/EBGaramond-Initials.eot'); /* IE9 Compat Modes */
    src: url('../fonts/EBGaramond-Initials.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
url('../fonts/EBGaramond-Initials.woff') format('woff'), /* Modern Browsers */ 
url('../fonts/EBGaramond-Initials.ttf') format('truetype'), /* Safari, Android, iOS */ 
url('../fonts/EBGaramond-Initials.svg#e41167c8191f80c007a31720e97e8dff') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
menu{
    margin-top: 0;
    margin-bottom: 0;
    background-color: #2b3966;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    font-family: 'TeX Gyre Schola';
}

menu ul{
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}

menu > ul > li{
    float: none;
    position: relative;
    list-style: none;
    display: inline-block;
    padding-right: 1.5%;
    font-size: 1.5em;
}

menu ul ul{
    background-color: #282633;
    display: none;
    position: absolute;
    left: 0;
    white-space: nowrap;
    top: 100%;

}

menu a{
    display: block;
    color: #FFC938;
    padding: 0 15px 5px;
    text-decoration: none;
}


ul.dropdown{
    padding-left: 0;
}
ul.dropdown li{
    display: block;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    font-size: 0.8em;
}

ul.dropdown a{
    font-weight: normal;
}

h1{
    color: #555137;
    margin-left: 1.65%;
    text-align: center;

}

h2{
    color: #490301;
    margin-left: 1.65%;
}

h3{
    margin-left: 1.65%;
}


.languages{
    color: #FFC938;
    margin-right: 2%;
    font-weight: bold;
    cursor: pointer;
}

.languages span{
    font-variant: small-caps;
    font-size: 1.5em;
}

.languages a{
    display: inline;
}

a{
    color: #CF4205;
    text-decoration: none;
}

@font-face{
    font-family: 'born';
    src: url('../fonts/Born.otf');
}

p{
    line-height: 150%;
    text-align: justify;
    margin-left: 1.65%;
    margin-right: 1%;
}

.en{
    display: none;
}

.pt{
    display: none;
}

.gl{
    display: none;
}


.mxgraph{
    position: relative;
    overflow: auto;
    width: 100%;
    margin-left: 1.65%

}

.mxgraph > div{
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.radar{
    display: flex;
    justify-content: space-between;
}

.radarF{
    list-style: none;
    margin-right: 4%;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
}


.radarF li{
    white-space: nowrap;
}

g[id ^= "esc"]{
    display: none;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    line-height: 100%;
}


.license p{
    padding-top: 0.5%;
    display: flex;
    align-items: center;
}

.license img{
    margin-left: 15px;
    width: 60px;
}

.acknowledments{
}


.acknowledments div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.normal{
    width: 100px;
}

.big{
    width: 150px
}

.stats{
    margin-left: 1.65%;
}

.stats h3
{
    margin-left: 0%;
}

/* Edition */

.multiple{
    display: flex;
}

.body{
    margin-top: 2%;
    margin-bottom: 2%;
}
.center{
    text-align: center;
}

.witness{
    padding-left: 1%;
    padding-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    flex-grow: 1;
    counter-reset: numbers;
}

.witness h3{
    margin-left: 0%;
}

section{
    width: 82%;
    border-right: 1px solid #2b3966;
}

section svg{
    margin-left: 2%;
}

svg a:hover{
    opacity: 0.5;
}

section h3{
    display: flex;
    margin-left: 7.5%;
    margin-bottom: 2%;

}

section h4{
    display: flex;
    margin-left: 7.5%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.witness h4{
    margin-left: 0%;
}

.metadata h2{
    color: #F2F2AF;
    font-size: 115%;
}

aside{
    min-width: 16.9%;
    width: 18%;
    max-height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding: 0
}


aside h3{
    padding-top: 1%;
    padding-left: 5%;
}

aside ul{
    list-style-type: square;
}



.metadata{
    padding: 1%;
    background-color: #562302;
}

.body{
    display: flex;

}

.body ol{
    font-family: 'junicode', 'Free Serif', 'EversonMono';
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

li.refrao{
    padding-left: 7%;
}

.body li{
    counter-increment: numbers;
    position: relative;
    margin-left: 4%;
    color: black;
}

.body li::before{
    content: counter(numbers) ".";
    font-size: 80%;
    color: #838383;
    font-weight: bold;
    text-align: right;
    position: absolute;
    left: -2.5em;
    width: 2em;
    padding: 0.8% 1% 0 0;

}


.flex{
    display: flex;
}

.flex svg{
    padding-right: 5px;
}

.flex p{
    display: flex;
}

.popup svg{
    width: 17px;
    height: 17px;
}

.expansion{
    display: none;
}

.reg{
    display: none;
}

.ex{
    font-style: italic;
}


.graphic{
    font-weight: bold;
}

.error{
    color: #D14205;
}

.gap{
    color: #D14205;
}

.linguistic{
    color: #6C659D;
    font-weight: bold;
}

.equipolent{
    text-decoration: underline;
}

del{
    color: red;
    text-decoration: none;
}

del.scrape{
    opacity: 0.9;
}

.criteria fieldset{
    border: none;
}

.criteria span{
    white-space: nowrap;
}

.criteria{
    margin-bottom: 2%;
    border: 1px solid #2b3966;
    margin-left: 1.65%;
    margin-right: 1.66%;

}

.criteria label{
    white-space: normal;
}


.dinamic span{
    border: 1px solid #2b3966;
    font-size: smaller;
    padding: 1% 2% 1% 2%;
    color: #2b3966;
    margin-left: 5%;

}
ins{
    text-decoration: none;
}


ins.enhance.above::after{
    content: "/";
    color: #73843A;
}

ins.enhance.above::before{
    content: "\\";
    color: #73843A;
}

ins.enhance.margin::after{
    content: "//";
    color: #73843A;
}

ins.enhance.margin::before{
    content: "\\\\";
    color: #73843A;
}

ins.enhance.scrape::before{
    content: "⸢";
    color: #73843A;
}

ins.enhance.scrape::after{
    content: "⸣";
    color: #73843A;
}

[data-exp=Letra\ de\ espera]::before{
    content: "⟨";
    color: #515050;
}

[data-exp=Letra\ de\ espera]::after{
    content: "⟩";
    color: #515050;
}

[data-exp=Guide\ letter]::before{
    content: "⟨"; 
    color: #515050;
}

[data-exp=Guide\ letter]::after{
    content: "⟩";
    color: #515050;
}

[data-exp]:hover{
    cursor: pointer;

}

.corpus{
    display: inline-flex;
}

.corpus span{
    padding-right: 0.4em;
}

#highlight{
    background-color: #FFF8DC;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
}

@font-face {
    font-family: 'palemonas';
    src: url('../fonts/palemonas/palemmufi-reg-webfont.woff2') format('woff2'),
         url('../fonts/palemonas/palemmufi-reg-webfont.woff') format('woff'),
         url('../fonts/palemonas/palemmufi-reg-webfont.ttf') format('truetype'),
         url('../fonts/palemonas/palemmufi-reg-webfont.svg#palemonas_mufiregular') format('palemonas/svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'junicode';
    src: url('../fonts/junicode/junicode-italic-webfont.eot');
    src: url('../fonts/junicode/junicode-italic-webfont.eot?#iefix') format('embedded-opentype'), 
url('../fonts/junicode/junicode-italic-webfont.woff2') format('woff2'), 
url('../fonts/junicode/junicode-italic-webfont.woff') format('woff'), 
url('../fonts/junicode/junicode-italic-webfont.ttf') format('truetype'), 
url('../fonts/junicode/junicode-italic-webfont.svg#junicodeitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'junicode';
    src: url('../fonts/junicode/junicode-webfont.eot');
    src: url('../fonts/junicode/junicode-webfont.eot?#iefix') format('embedded-opentype'), 
url('../fonts/junicode/junicode-webfont.woff2') format('woff2'), 
url('../fonts/junicode/junicode-webfont.woff') format('woff'), 
url('../fonts/junicode/junicode-webfont.ttf') format('truetype'), 
url('../fonts/junicode/junicode-webfont.svg#junicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*@font-face {
    font-family: 'junicode';
    src: url('../fonts/junicode/junicode-bold-webfont.eot');
    src: url('../fonts/junicode/junicode-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junicode/junicode-bold-webfont.woff2') format('woff2'),
         url('../fonts/junicode/junicode-bold-webfont.woff') format('woff'),
         url('../fonts/junicode/junicode-bold-webfont.ttf') format('truetype'),
         url('../fonts/junicode/junicode-bold-webfont.svg#junicodebold') format('svg');
    font-style: normal;
    font-weight: bold;

}*/




/*@font-face {
    font-family: 'junicode';
    src: url('../fonts/junicode/junicode-bolditalic-webfont.eot');
    src: url('../fonts/junicode/junicode-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junicode/junicode-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/junicode/junicode-bolditalic-webfont.woff') format('woff'),
         url('../fonts/junicode/junicode-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/junicode/junicode-bolditalic-webfont.svg#junicodebold_italic') format('svg');
    font-style: italic;
    font-weight: bold;

}*/

/*Web form songs */

.hide{
    display: none;
}

fieldset{
    border: 1px solid #2b3966;
    margin: 1%;
}

fieldset > div{
    display: flex;
}

fieldset > span{
    margin-right: 1%;
    padding-left: .5%;
}

fieldset ul{
    list-style: none;
    padding: 0;
}

fieldset li{
    padding-bottom: 8%;
    white-space: nowrap;

}

legend{
    padding: 0.2em 0.5em;
    border: 1px solid #2b3966;
    color: #2b3966;
    font-size: 90%;
    font-weight: 500;
    white-space: nowrap;
}

button{
    color: white;
    background-color: #2b3966;
    padding: 0.7em;
    margin-left: 1%;
}
.authors {
    display: flex;
    flex-direction: column;
}

.authors button{
    width:15%;
    align-self:center;
}

input{
    margin: 0 0.5% 0.5% 0.5%;
    align-self: flex-start;
}

form{
    margin-left: 1.65%;
    margin-right: 1.65%;
    width: 97%;
    margin-bottom: 6%;
}

div.form{
    display:flex;
}

.item{
    flex-grow:1;
    width: 48%;
}


.form label{
    padding-right:2%;
}

/*Phenomena forms*/


table{
    background-color: #EAE5C5;
    width: 98%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
}

.tabular table{
    width: auto;
    font-family: 'junicode';
    border: none;
    margin-left: 4%;
    margin-top: 0%;
}

.tabular{
    padding-top: 2%;
}

.tabular p{
    font-size: small;
    font-weight: bold;
    text-align: right;
    color: #838383;
    left: 3em;
    width: 2em;
    position: absolute;
    margin-top: -0.5%;
}


.tabular td{
    border: none;
    white-space: nowrap;
    text-align: left;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 0;
    padding-top: 0;
}

.tabular table tbody td:nth-child(1){
    color: #562302;
    font-weight: 700;
    font-size: small;
    vertical-align: central;
    padding-right: 9px;
    border-right: 1px solid #838383;
}

td > ul{
    list-style: none;
    padding-left: .5em;
    padding-right: .5em;
    white-space: nowrap;
    margin: 0;
}

table,
th,
td{
    border: 2px solid #490301;
    border-collapse: collapse;
    padding: 3px;

}

td.intro{
    background-color: #D0CCB0;
    font-family: 'junicode';
}


table.sortable th{
    color: #D0CCB0;
    white-space: nowrap;
    background-color: #490301;
}

/*tbody td:nth-child(1){
    font-style: italic;
}

tbody td:nth-child(1) span.normal,
tbody td:nth-child(1)
.ex{
    font-style: normal;
}*/

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after{
    content: url(../images/arrow.svg)
}

table.sortable th > svg{
    display: inline;
}


ul ul{
    list-style: circle;
}

.phenom h3{
    margin-left: 2%;
}

.phenom h2{
    margin-left: 2%;
    padding-top: 3%;
}




/*  Small devices compatibility */

@media all and (max-width : 940px){
    menu{
        font-size: smaller;
    }
}

@media all and (max-width : 805px){
    .languages{
        display: inline;
    }

    .languages span{
        margin: 0;
        padding: 0;
    }

    .languages a{
        padding: 0;
    }
    menu > ul{
        padding-left: 0;
    }

    menu a{
        padding-right: 5px;
        padding-left: 5px;
    }
}


@media all and (min-width : 613px){
    menu > ul li:hover{
        background: #393649;
    }
    menu li:hover ul{
        display: block;
    }
    menu li li:hover{
        background-color: #393649;
    }

}

@media all and (max-width : 612px){

    menu > ul{
        height: auto;
    }
    menu > ul > li{
        float: none;
        display: block;
        width: 100%;
    }
    menu > ul a{
        line-height: 40px;
    }

    menu a{
        padding-bottom: 0%;
    }

    menu > ul ul{
        position: relative;
    }
    menu li.tap ul{
        display: block;
        background-color: inherit;
        padding-left: 4%;
    }

    body{
        margin: 0;
        font-size: smaller;
    }
    .languages{
        display: flex;
        flex-direction: column;
    }
    menu{
        flex-direction: row;
    }
}
